* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --font-main: "Lexend Peta", sans-serif;
  --font-secondary: "Orbit", sans-serif;
}

.navbar {
  background-color: rgba(51, 51, 51, 0.3);
  position: fixed;
  width: 100vw;
  font-family: var(--font-main);
  z-index: 9999;
}
.logo {
  width: 35%;
}
.nav-item {
  text-align: right;
}
.nav-link {
  color: #fafafa;
  font-size: 1rem;
  margin: 10px;
  cursor: pointer;
}
.nav-link:first-child:hover {
  color: #b3b3b3;
}
.nav-link:last-child:hover {
  color: #b3b3b3;
}
#nav-youtube:hover {
  color: #ff0000;
}
#nav-spotify:hover {
  color: #1db954;
}
.main-section {
  position: relative;
}
.img-portada {
  width: 100%;
}
.scrible {
  position: absolute;
  bottom: -4%;
  width: 15%;
  left: -5%;
}
.scrible2 {
  top: -50%;
  right: 40%;
  width: 15%;
  transform: rotate(15deg);
}

#youtube {
  background-image: url(./IMG/fondo-youtube.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.youtube-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.youtube-left {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.video {
  width: 100%;
  height: 50vh;
}
.youtube-right {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.youtube-right h1 {
  font-family: var(--font-main);
  color: #ff0000;
  font-size: 6rem;
  text-decoration: underline;
}
.youtube-right p {
  font-family: var(--font-secondary);
  color: #fafafa;
}
.scrible3{
    bottom: -50%;
    left:50%;
    width: 15%;
    ;
}

#spotify {
  background-image: url(./IMG/fondo-youtube.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.spotify-left {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.spotify-left h1 {
  font-family: var(--font-main);
  color: #1db954;
  font-size: 6rem;
  text-decoration: underline;
}
.spotify-left p {
  font-family: var(--font-secondary);
  color: #fafafa;
}

.spotify-right {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrible4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15%;
}

#contacto{
    background-image: url(./IMG/fondo-youtube.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
  
  }
  .get-in-touch .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
       color: #5543ca;
      background: #5543ca;
      background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
      background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
      background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
  }
  
  .contact-form .form-field {
    position: relative;
    margin: 32px 0;
  }
  .contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
  .contact-form .input-text:focus {
    outline: none;
  }
  .contact-form .input-text:focus + .label,
  .contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
  }
  .contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, 
    -webkit-transform .2s ease-in-out;
  }
  .contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
     background-image: linear-gradient(125deg,#a72879,#064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width:200px;
    cursor: pointer;
  }
