* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --font-main: "Lexend Peta", sans-serif;
  --font-secondary: "Orbit", sans-serif;
}

.navbar {
  background-color: rgba(51, 51, 51, 0.3);
  position: fixed;
  width: 100vw;
  font-family: var(--font-main);
  z-index: 9999;
}
.logo {
  width: 35%;
}
.nav-item {
  text-align: right;
}
.nav-link {
  color: #fafafa;
  font-size: 1rem;
  margin: 10px;
  cursor: pointer;
}
.nav-link:first-child:hover {
  color: #b3b3b3;
}
.nav-link:last-child:hover {
  color: #b3b3b3;
}
#nav-youtube:hover {
  color: #ff0000;
}
#nav-spotify:hover {
  color: #1db954;
}
.main-section {
  position: relative;
}
.img-portada {
  width: 100%;
}
.scrible {
  position: absolute;
  bottom: -4%;
  width: 15%;
  left: -5%;
}
.scrible2 {
  top: -50%;
  right: 40%;
  width: 15%;
  transform: rotate(15deg);
}

#youtube {
  background-image: url(./IMG/fondo-youtube.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.youtube-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.youtube-left {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.video {
  width: 100%;
  height: 50vh;
}
.youtube-right {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.youtube-right h1 {
  font-family: var(--font-main);
  color: #ff0000;
  font-size: 6rem;
  text-decoration: underline;
}
.youtube-right p {
  font-family: var(--font-secondary);
  color: #fafafa;
}

#spotify {
  background-image: url(./IMG/fondo-youtube.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.spotify-left {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.spotify-left h1 {
  font-family: var(--font-main);
  color: #1db954;
  font-size: 6rem;
  text-decoration: underline;
}
.spotify-left p {
  font-family: var(--font-secondary);
  color: #fafafa;
}

.spotify-right {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrible3 {
  position: absolute;
  top: 0px;
  width: 15%;
}
